{% extends "basepage.html" %}
{% load staticfiles %}

{% block body %}
  <img width="640" height="507" src="{% static "img/logo.png" %}">
  <form class="form-horizontal" action="/login/" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-xs-12 col-xs-push-2">
        <!-- <button class="btn_walktalk">Email</button> -->
        <input type="text" class="btn_walktalk" placeholder="Email">
      </div>
      <div class="col-xs-12 col-xs-push-2">
        <input type="password" class="btn_walktalk" placeholder="Password">
      </div>
    </div>
    <!-- {% for f in login_form %}
      <div class="row">
        <div class="col-xs-2">
          {{ f.label }}
        </div>
        <div class="col-xs-8">
          {{ f }}
        </div>
      </div>
    {% endfor %} -->
    <div class="row">
      <div class="col-xs-12 col-xs-push-5">
        <button class="btn_walktalk_circle" type="submit">
          Go!
        </button>
      </div>
    </div>
  </form>
{% endblock %}
